<app-credit-card-view [cardNumber]="cardNumber" [expireDate]="expireDate" [cardHolderName]="cardHolderName"></app-credit-card-view>
<form
  [formGroup]="reactiveForm"
  class="shadow-2xl min-h-[100px] min-w-[300px] w-5/6 h-auto ml-auto mr-auto mt-[-40px] pb-20 pt-[90px]"
>
  <div class="w-5/12 ml-auto mr-auto flex flex-col gap-8">
    <div>
      <input
        type="text"
        id="number-input"
        data-test-id="number-input"
        placeholder="Card Number"
        formControlName="cardNumber"
        maxlength="16"
        class="bg-gray-50 border border-gray-300 text-sm rounded-sm block w-full p-2.5"
      />
      <p
        *ngIf="
          reactiveForm.get('cardNumber')?.touched &&
          reactiveForm.get('cardNumber')?.invalid
        "
        data-test-id="numberinput-error"
      >
        Invalid Card Number
      </p>
    </div>

    <div>
      <input
        type="text"
        id="name-input"
        data-test-id="name-input"
        placeholder="Cardholder Name"
        formControlName="cardHolderName"
        class="bg-gray-50 border border-gray-300 text-sm rounded-sm block w-full p-2.5"
      />
      <p
        *ngIf="
          reactiveForm.get('cardHolderName')?.touched &&
          reactiveForm.get('cardHolderName')?.invalid
        "
        data-test-id="nameinput-error"
      >
        Invalid Cardholder Name
      </p>
    </div>

    <div class="flex flex-row gap-4">
      <div class="flex-1">
        <input
          type="text"
          maxlength="2"
          id="month-input"
          data-test-id="month-input"
          formControlName="expireMonth"
          class="bg-gray-50 border border-gray-300 text-sm rounded-sm block w-full p-2.5"
        />
        <label for="month-input" class="block mb-1 mt-2 text-sm text-gray-400"
          >Expire Month</label
        >
        <p
          *ngIf="
            reactiveForm.get('expireMonth')?.touched &&
            reactiveForm.get('expireMonth')?.invalid
          "
          data-test-id="monthinput-error"
        >
          Invalid Month
        </p>
      </div>
      <div class="flex-1">
        <input
          type="text"
          maxlength="4"
          id="year-input"
          data-test-id="year-input"
          formControlName="expireYear"
          class="bg-gray-50 border border-gray-300 text-sm rounded-sm block w-full p-2.5"
        />
        <label for="year-input" class="block mb-1 mt-2 text-sm text-gray-400"
          >Expire Year</label
        >
        <p
          *ngIf="
            reactiveForm.get('expireYear')?.touched &&
            reactiveForm.get('expireYear')?.invalid
          "
          data-test-id="yearinput-error"
        >
          Invalid Year
        </p>
      </div>
      <div>
        <input
          type="text"
          maxlength="3"
          id="cvv-input"
          data-test-id="cvv-input"
          formControlName="cvvNumber"
          class="bg-gray-50 border border-gray-300 text-sm rounded-sm block w-full p-2.5"
        />
        <label for="cvv-input" class="block mb-1 mt-2 text-sm text-gray-400"
          >CVV/CVC</label
        >
        <p
          *ngIf="
            reactiveForm.get('cvvNumber')?.touched &&
            reactiveForm.get('cvvNumber')?.invalid
          "
          data-test-id="cvvinput-error"
        >
          Invalid CVV/CVC.
        </p>
      </div>
    </div>

    <button
      id="submit-button"
      data-test-id="submit-button"
      [disabled]="reactiveForm.invalid"
      [class.opacity-70]="reactiveForm.invalid"
      class="bg-bgcard text-white font-bold py-2 px-4 rounded-md shadow-lg shadow-bgcard"
    >
      Submit
    </button>
  </div>
</form>
