<div
  class="shadow-lg shadow-gray-700 bg-transparent w-[30rem] h-[260px] ml-auto mr-auto mt-10 z-30 flex flex-col rounded-xl"
>
  <div class="h-2/4 rounded-t-xl flex flex-col justify-end pb-2">
    <img class="w-20 ml-2" src="assets/card_logo.png" alt="" srcset="" />
  </div>
  <div class="bg-bgcard h-2/4 flex flex-col px-4 pt-8 gap-2 rounded-b-xl">
    <div class="flex justify-between">
      <p class="text-white text-lg font-bold">{{ cardNumber }}</p>
      <p class="text-white text-xs">{{ expireDate }}</p>
    </div>
    <div>
      <p class="text-white text-sm font-medium">{{ cardHolderName }}</p>
    </div>
  </div>
</div>
